
@{
    ViewBag.Title = "kategoriEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2 style="color:white; text-align:center;">KATEGORİ EKLE</h2>
<br />
<div class="item" style=" margin-left: 1%; width:50%;">
    <label for="name" style="color:white;">KATEGORİ ADI GİRİNİZ<span>*</span></label><br /><br />
    <input id="name" type="text" name="KateEkle" placeholder="Kategori Adı Giriniz" required />
</div>


<div class="btn-block">
    <button type="submit">GÖNDER</button>
</div><br />
